body {
    text-align: center;
}

.map {
    border: medium solid #999;
}

.states {
    /*    fill: #FFF;
    */
    stroke: white;
    stroke-width: 1px;
}

.chart {
    background-color: rgba(128, 128, 128, .2);
    border: medium solid #999;
}

.numbers {
    fill: white;
    font-family: sans-serif;
    font-size: 5px;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128, 128, 128, .2);
}

.chartFrame {
    fill: none;
    stroke: none;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}

.dropdown {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    top: 100px;
    right: 100px;
    color: black;
    background-color: lightgray;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}
