body {}

#titleArea {
    font: 15px veranda, sans-serif;
}

#titleArea p {
    text-align: center;
}

#title {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: -10px;
}

#quote {
    padding: 15px 0;
}

#contentWrapper {
    position: absolute;
    left: 50%;
    margin-left: -328px;
    width: 656px;
    /*    background-color: aqua;*/
}

#attributeDescriptionWrapper {
    font: 15px veranda, sans-serif;
    padding: 5px 0;
    height: 52px;
    margin-left: 7px;
}

.map {
    border: medium solid #999;
}

.states {
    /*    fill: #FFF;
    */
    stroke: white;
    stroke-width: 1px;
}

#chartWrapper {
    margin-top: -7px;
}

.chart {
    background-color: rgb(240, 240, 240);
    border: medium solid #999;
}

.numbers {
    fill: white;
    font: 5px veranda, sans-serif;
}

.chartTitle {
    font: 15px veranda, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
}

.chartBackground {
    fill: rgba(128, 128, 128, .2);
}

.chartFrame {
    fill: none;
    stroke: none;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font: 15px veranda, sans-serif;
    font-size: 0.8em;
    fill: black;
}

.dropdown {
    /*
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 10;*/
    font: 15px veranda, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    bottom: 320px;
    right: 6px;
    height: 65px;
    min-width: 65px;
    color: black;
    /*    background-color: lightgray;*/
    /*    border: solid thin #fff;*/
    padding: 5px 10px;
    text-align: right;
}

.infolabelPlaceholder {
    position: absolute;
    bottom: 320px;
    right: 6px;
    height: 65px;
    min-width: 65px;
    color: black;
    /*    background-color: lightgray;*/
    /*    border: solid thin #fff;*/
    padding: 5px 10px;
    text-align: right;
}

#infoLabelNumber {
    font: 24px veranda, sans-serif;
    font-weight: bold;
}

#bottomSpacer {
    height: 50px
}

#moreInfoWrapper {
    font: 15px veranda, sans-serif;
    text-align: right;
}
